
  <div class="row">
    <div class="col">
      <h3>Favorite Authors</h3>
      <button
                class="ml-2 btn btn-primary"
                (click)="sortByDate()"
              >
                Sort By Creation Date
              </button>
              <button
              class="ml-2 btn btn-primary"
              (click)="sortByName()"
            >
              Sort By Name
            </button>
      <div *ngIf="authors.length > 0">
        <div *ngFor="let author of authors">
          <div class="card mt-2 mb-2">
            <div class="card-body">
              <h5 class="card-title">{{ author.name }}</h5>
              <a class=" btn btn-primary" href="/view/{{author._id}}">View</a>
              <a class="ml-2 btn btn-primary" href="/edit/{{author._id}}">Edit</a>

              <button
                class="ml-2 btn btn-primary"
                (click)="deleteAuthor(author._id)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

